In [1]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='tienda')

print(cnx)
cnx.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000013B54241DB0>

In [3]:
from mysql.connector import errorcode

# En este código estamos haciendo un try except. Si recordamos esto nos permitía hacer un manejo de los errores, para evitar que nuestro código se pare. Para eso lo que estamos haciendo es
## intenta hacer la conexión son la base de datos de tienda 
# el .connect es para conectarnos.
try:
  cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='tienda')
# en caso de que no lo consigas por que hay algún error entonces ...
except mysql.connector.Error as err:

  # si es un error con la contraseña devuelveme un mensaje de acceso denegado ya que tenemos problemas con la contraseña
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  
  # si el error no tiene que ver con la contraseña, puede ser porque la base de datos no exista, devuelveme un mensaje de que la base de datos no existe
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  
  # si no es por ninguno de los errores anteriores, printeame cual es el error que estoy teniendo en mi conexión
  else:
    print(err)
else:
  cnx.close()

In [4]:
config = {
  'user': 'root',
  'password': 'AlumnaAdalab',
  'host': '127.0.0.1',
  'database': 'tienda',
  'raise_on_warnings': True
}

cnx = mysql.connector.connect(**config)

cnx.close()

### Ejercicios

1.- Antes de empezar a trabajar con la BBDD de Northwind, conozcamos un poco las BBDD que tenemos en nuestro servidor. ¿Qué BBDD tenemos en nuestro servidor?

In [3]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='northwind')

2.- Empezemos a explorar la BBDD de Northwind. ¿Qué tablas componen la BBDD? Recuerda que primero nos tendremos que conectar con la BBDD sobre la que queremos trabajar. Guarda el resultado de los nombres de la tablas en una lista.

In [4]:
mydb = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='northwind')

In [10]:
mycursor = mydb.cursor()
mycursor.execute('SHOW TABLES')
nombres_tablas = ()
for x in mycursor:
    nombres_tablas = nombres_tablas + x
    print(nombres_tablas)

('categories',)
('categories', 'consulta_1')
('categories', 'consulta_1', 'customer_customer_demo')
('categories', 'consulta_1', 'customer_customer_demo', 'customer_demographics')
('categories', 'consulta_1', 'customer_customer_demo', 'customer_demographics', 'customers')
('categories', 'consulta_1', 'customer_customer_demo', 'customer_demographics', 'customers', 'empleadas')
('categories', 'consulta_1', 'customer_customer_demo', 'customer_demographics', 'customers', 'empleadas', 'employee_territories')
('categories', 'consulta_1', 'customer_customer_demo', 'customer_demographics', 'customers', 'empleadas', 'employee_territories', 'employees')
('categories', 'consulta_1', 'customer_customer_demo', 'customer_demographics', 'customers', 'empleadas', 'employee_territories', 'employees', 'order_details')
('categories', 'consulta_1', 'customer_customer_demo', 'customer_demographics', 'customers', 'empleadas', 'employee_territories', 'employees', 'order_details', 'orders')
('categories', 'consulta_1', 'customer_customer_demo', 'customer_demographics', 'customers', 'empleadas', 'employee_territories', 'employees', 'order_details', 'orders', 'pedidos')
('categories', 'consulta_1', 'customer_customer_demo', 'customer_demographics', 'customers', 'empleadas', 'employee_territories', 'employees', 'order_details', 'orders', 'pedidos', 'personas2')
('categories', 'consulta_1', 'customer_customer_demo', 'customer_demographics', 'customers', 'empleadas', 'employee_territories', 'employees', 'order_details', 'orders', 'pedidos', 'personas2', 'productos')
('categories', 'consulta_1', 'customer_customer_demo', 'customer_demographics', 'customers', 'empleadas', 'employee_territories', 'employees', 'order_details', 'orders', 'pedidos', 'personas2', 'productos', 'products')
('categories', 'consulta_1', 'customer_customer_demo', 'customer_demographics', 'customers', 'empleadas', 'employee_territories', 'employees', 'order_details', 'orders', 'pedidos', 'personas2', 'productos', 'products', 'region')
('categories', 'consulta_1', 'customer_customer_demo', 'customer_demographics', 'customers', 'empleadas', 'employee_territories', 'employees', 'order_details', 'orders', 'pedidos', 'personas2', 'productos', 'products', 'region', 'shippers')
('categories', 'consulta_1', 'customer_customer_demo', 'customer_demographics', 'customers', 'empleadas', 'employee_territories', 'employees', 'order_details', 'orders', 'pedidos', 'personas2', 'productos', 'products', 'region', 'shippers', 'suppliers')
('categories', 'consulta_1', 'customer_customer_demo', 'customer_demographics', 'customers', 'empleadas', 'employee_territories', 'employees', 'order_details', 'orders', 'pedidos', 'personas2', 'productos', 'products', 'region', 'shippers', 'suppliers', 'territories')

Printeamos la variable que hemos creado para comprobar que se han almacenado los datos correctamente. Aparece printeado 'consulta_1' y 'personas2' por unos experimentos que estuvo realizando Gadea al crear nuevas tablas en Northwind.

In [11]:
nombres_tablas

('categories',
 'consulta_1',
 'customer_customer_demo',
 'customer_demographics',
 'customers',
 'empleadas',
 'employee_territories',
 'employees',
 'order_details',
 'orders',
 'pedidos',
 'personas2',
 'productos',
 'products',
 'region',
 'shippers',
 'suppliers',
 'territories')

    Guardamos los nombres de la BBDD en una lista:

3.- ¿Qué columnas tiene cada una de las tablas? Para esto tendréis que hacer un for loop para que nos saque el resultado de todas las columnas.

<class 'tuple'>

In [23]:
print(type(nombres_tablas))

<class 'tuple'>

In [14]:
nombres_columnas

[]

4.- Hagamos unas queries facilitas:

 - Extraed el primer pedido donde se ha gastado más. Devolved el id del pedido y la cantidad gastada.

SELECT order_details.order_id, ((unit_price * quantity) - discount) AS 'CostePedido' FROM northwind.order_details
ORDER BY CostePedido DESC;

In [ ]:
df = pd.DataFrame(myresult, columns = ['ID', 'Nombre', 'Apellido','Email','Telefono','Direccion','Ciudad','Pais'])

 - Devuelve la misma query que en el anterior ejercicio, pero en este caso devuelve todos los resultados.



 - Extraer los pedidos hechos por "Nancy Daviolo". Tendréis que hacer una subquery.
 - Para finalizar el ejercicio, desconectad la conexión con el servidor.

 - Extraed el números de pedidos que se hayan hecho por dia. Devuelve los resultados en una dataframe.