In [1]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE DATABASE mi_primerita_BBDD_Python")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

1007 (HY000): Can't create database 'mi_primerita_bbdd_python'; database exists
Error Code: 1007
SQLSTATE HY000
Message Can't create database 'mi_primerita_bbdd_python'; database exists

Creamos la base de datos. No podemos cambiar el nombre dado que ayer no la creamos: En el ejercicio del último día trabajamos con Northwind. Para cambiarle el nombre a la BBDD tendríamos que ejecutar el siguiente código:

In [ ]:
mycursor.execute("RENAME DATABASE nombre_antiguo to nombre_nuevo")

In [22]:
def creacion_tablas(psswrd, query):
    import mysql.connector

    cnx = mysql.connector.connect(user='root', password= psswrd,
                              host='127.0.0.1', database = "mi_primerita_BBDD_Python")
    
    mycursor = cnx.cursor()
    
    try:
        query = query
        mycursor.execute(query)
        cnx.commit()
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)
    
    mycursor.close()
    cnx.close()

In [29]:
tabla_zapatillas = """CREATE TABLE IF NOT EXISTS Zapatillas (id_zapatillas INT NOT NULL AUTO_INCREMENT PRIMARY KEY, modelo VARCHAR(45) NOT NULL, color VARCHAR(45) NOT NULL, talla INT NOT NULL);"""

In [30]:
creacion_tablas("AlumnaAdalab", tabla_zapatillas)

CMySQLCursor: CREATE TABLE Zapatillas (id_zapatillas I..

Creamos la tabla "Clientes":

In [32]:
tabla_clientes = """CREATE TABLE IF NOT EXISTS Clientes (id_cliente INT NOT NULL AUTO_INCREMENT PRIMARY KEY, 
nombre VARCHAR(45) NOT NULL, numero_telefono INT(9) NOT NULL, email VARCHAR(45) NOT NULL, 
direccion VARCHAR(45) NOT NULL, ciudad VARCHAR(45), provincia VARCHAR(45) NOT NULL, pais VARCHAR(45) NOT NULL, 
cod_postal INT(9) NOT NULL)"""

In [33]:
creacion_tablas("AlumnaAdalab", tabla_clientes)

CMySQLCursor: CREATE TABLE Clientes (id_cliente INT NO..

Creamos la tabla "Empleados":

In [36]:
tabla_empleados ="""CREATE TABLE IF NOT EXISTS Empleados (id_empleado INT NOT NULL AUTO_INCREMENT PRIMARY KEY, nombre VARCHAR(45) NOT NULL,
tienda VARCHAR(45) NOT NULL, salario FLOAT, fecha_incorporacion DATE NOT NULL)"""

In [37]:
creacion_tablas("AlumnaAdalab", tabla_empleados)

CMySQLCursor: CREATE TABLE Empleados (id_empleado INT ..

Creamos la tabla "Facturas":

In [44]:
tabla_facturas = """
CREATE TABLE IF NOT EXISTS facturas ( 
    id_facturas INT NOT NULL AUTO_INCREMENT,
    numero_factura VARCHAR(45) NOT NULL,
    fecha DATE NOT NULL,
    id_zapatillas INT NOT NULL,
    id_cliente INT NOT NULL,
    id_empleado INT NOT NULL,
    CONSTRAINT fk_facturas_zapatillas
		FOREIGN KEY (id_zapatillas)
	REFERENCES zapatillas (id_zapatillas)
		ON DELETE cascade ON UPDATE cascade,
	CONSTRAINT fk_facturas_empleados
		FOREIGN KEY (id_empleado)
	REFERENCES empleados (id_empleado)
		ON DELETE cascade ON UPDATE cascade,
	CONSTRAINT fk_facturas_cliente
		FOREIGN KEY (id_cliente)
	REFERENCES clientes  (id_cliente)
		ON DELETE cascade ON UPDATE cascade,
    PRIMARY KEY (id_facturas)
    );"""

In [45]:
creacion_tablas("AlumnaAdalab", tabla_facturas)

CMySQLCursor:
CREATE TABLE IF NOT EXISTS facturas (
..